.add-wraper {
  font-size: 25px;
  padding: 25px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.substract-wraper {
  font-size: 25px;
  padding: 25px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.display-wraper {
    display: flex;
    justify-content: center;
    font-family: system-ui;
}


